<br>
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center  text-white md-3" id="total-penduduk">
                <div class="card-header">
                    <h5 class="card-title">Total</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_penduduk}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center  text-white md-3" id="laki">
                <div class="card-header">
                    <h5 class="card-title">Laki-laki</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{laki}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center  text-white md-3" id="perempuan">
                <div class="card-header">
                    <h5 class="card-title">Perempuan</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{perempuan}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>